*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cont{
    height: 100vh;
    width: 100%;
    /* background-color: gray; */
}
.nav-bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 100px 0 100px;
    margin-bottom: 10px;
    
    /* box-shadow: 0 0 50px 0 rgba(0, 0, 0, .50); */
    background-color: white;
}
.nav-bar:after{
content: "";
position: absolute;
height: 1px;
width: 100%;
background-color: #0197FD;
left: 0;
bottom:0px;
}
.logo img{
    height: 80px;
    width: 80px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: black;
    padding: 0 10px;
}
.nav ul li a:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #0197FD;
    left: 0;
    bottom: -10px;
    transition: .5s;
}
.nav ul li a:hover:after{
    width: 100%;
}
.btn button{
    position: relative;
    display: block;
    width: 150px;
    color: white;
    background-color: #013397;
    font-size: 30px;
    border: none;
    border-radius: 3px;
    /* box-shadow: 0 5px 15px rgb(0 0 0 / 30%); */
    overflow: hidden;
}
.btn button:after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 490%;
    width: 140%;
    /* background-color: red; */
    transition: all .7s ease-in-out;
}
.btn button:after{
    background-color: #0197FD;
    transform: translate(-95%, -25%) rotate(45deg);
}
.btn:hover button:after{
    transform: translate(-9%, -25%) rotate(45deg);

}
button span{
    position: relative;
    z-index: 1;
}
.layout{
    margin: 30px 100px 0 100px;
    display: flex;
    align-items: center;
}
.pro img{
    height: 200px;
    width: 200px;
    margin-left: 200px;
    border: 6px solid #cacbcc;
    border-radius: 50%;
    transition: .5s;
}
.pro img:hover{
    border: 6px solid #0197FD;
}
.about-pro{
    margin-left: 50px;  
}
.about-pro h1{
    font-size: 40px;
    margin-bottom: 8px;
}
.about-pro h3{
    font-size: 25px;
}
.about{
    margin: 0 100px 0 125px;
}
.about h1{
    position: relative;
    margin-top: 100px;
    font-size: 30px;
}
.about h1:after{
content: "";
position: absolute;
height: 3px;
width: 50px;
background-color: #0197FD;
left: 0;
bottom: -8px;
transition: .5s;

}
.about h1:before{
    content: "";
    position: absolute;
    height: 3px;
    width: 35px;
    background-color: #0197FD;
    left: 0;
    bottom: -16px;
    transition: .5s;
    }
.favorite{
    margin: 50Px 100px 0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    /* background-color: red; */
}
.foods{
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 30%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .25);
    margin-bottom: 20px;
    /* border: 3px solid gray; */
    /* background-color: red; */
}
.foods img{
    height: 250px;
    width: 100%;
}
.portfolio{
    margin: 50Px 100px 0 100px;
    display: flex;
}
.portfolio .img{
    display: flex;
    margin: 10px;
    width: 25%;
    border: 8px solid #0197FD; 
    border-radius:0 50px 0 50px;
    background-size: cover;
    transition: .5s;
}

.portfolio img{
    height:200px;
    width: 93%;
    margin: 10px;
    left: 0;
    border-radius:0 50px 0 50px;
    transition: .5s;
}
.footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50Px 100px 0 100px;
    height: 50px;
    background-color: #e6e7e9;
    margin-bottom: 100px;
}
.footer:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #0197FD;
    top:0;
    }